/.metadata/
/.svn/
/back/
/Adobe Flash Builder 4.7/
/build/
/progs/
/ritm_configs/
/initial.bat
*.actionScriptProperties
*.flexProperties
**/source.swf
**source.swf
/**source.swf
**Founder.swf
