/.metadata/
/.svn/
/back/
/Adobe Flash Builder 4.7/
/build/
/progs/
/ritm_configs/
/initial.bat
*.actionScriptProperties
*.flexProperties
**/source.swf
**source.swf
/**source.swf
**Founder.swf
Conf_v/bin-debug/history/history.css
Conf_v/bin-debug/history/history.js
Conf_v/bin-debug/history/historyFrame.html
Conf_v/bin-debug/swfobject.js
